@media (max-width: 768px) {
    .carousel-slide img {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .carousel-container  {
        min-height: 100%;
    }
    .carousel-slide img {
        height: 200px;
    }
    
    .carousel-btn {
        padding: 8px 12px;
    }
    
    .carousel-caption {
        font-size: 14px;
    }
    
}